@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: theme('colors.gold.DEFAULT') transparent;
    scrollbar-width: thin;
  }

  body {
    @apply font-serif;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  ul {
    @apply list-disc list-inside;
  }

  blockquote {
    @apply pl-4 italic border-l-2 border-gold;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/merriweather/Merriweather-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/merriweather/Merriweather-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2');
}

::selection {
  color: theme('colors.gray.800');
  background-color: theme('backgroundColor.gold.DEFAULT');
}

:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px theme('colors.gold.DEFAULT');
}

::-webkit-scrollbar {
  width: theme('width[1.5]');
}

::-webkit-scrollbar-thumb {
  background: theme('backgroundColor.gold.DEFAULT');
}
